@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2 {
  background-color: #ffffff;
  color: #352f97;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
}

h3 {
  font-weight: bold;
  font-size: 2.3em;
  background-color: #ffffff;
  color: #352f97;
  font-size: 3em;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  text-align: center
}

p {
  font-weight: normal;
  font-size: 1.1em;
  background-color: #ffffff;
  color: #352f97;
}

body {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
    text-align: left
}

header, nav, main, footer { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1200px;
}

.display-small {
  display: block;
}
.display-medium {
  display: none;
}
.display-large {
  display: none;  
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 1em;
}
.subtitle {
  margin: 0;
  font-family: 'Egyptian+slate', sans-serif;
  font-size: 0.9em;
}


nav {
  width: 100%;
}

nav div {
    display: flex;
    flex-direction: column;
    background-color: #352f97;
    margin: 0;
    padding: 0;
}

nav button {
  margin-left: 0.2em;
  color: #ffffff;
    background-color: #352f97;
  font-size: 2.75em;
    border: none;
    text-align: left;
    
}

nav ul {
  list-style-type: none;
  background-color: #352f97;
  padding: .5em;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

nav ul li a {
 display: block;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 0.9em;
    background-color: #352f97;
    color: #ffffff;
}

nav ul li.active a {
    color: #718ab2;
    background-color: #fff;
   
}
nav ul li a:hover {
    color: #000000;
    background-color: #718AB2; 
}

nav ul.hide {
  display: none;
}

.weather-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
      
}

.main-image {
  padding-top: 5px;
  width: 100%;
}

.main-image img {
  width: 100%;
    margin: auto;
}
.weather-group {
 display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.main-title {
  font-size: 2em;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

.weather-block {
display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
    margin-right: auto
}

.weather-desc {
  font-family: 'Quicksand', serif;
  font-size:4em;
  Text-align: center;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.temperature {
  width: 100%;
  text-align: center;
}

.precip-wind {
  width: 100%;
  text-align: center;
}

.weather-data {
  display: block;
}

.forecast {
  display: none;
  margin-top: 15px;
  margin-bottom: 16px;
}

.forecast h3 {
  border-style: solid solid none solid;
  text-align: center;
  border-width: 1px;
  font-size: 1.75em;
  margin: 0;
  padding: 0.5em;
  background-color: #357f97;
color: #fff;
}

.forecast table {
  border: 2px;
  width: 100%;
  text-align: center;
   
}

.forecast table th  {
  border: 1px solid;
  padding: 2px;
  background-color: #352f97;
    border-bottom: #fff;
    color: #fff;
}
.forecast table tr  {
  border: 1px solid;
  padding: 4px;
  background-color: aqua;
    border-bottom: #000;
    Color: #000000;
}

.article {
    border: 1px solid;
    flex-flow: wrap;
    margin-top: 0.53em;
    padding: 1em;
    width: 100%
}


article h3 {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}
.article-image {
  width: 100%;
  margin: auto;
}
article p {
  
    width: 100%;

}
.article-picture {
  width: 100%;
  
}
    
.gallery-grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-template-columns: 1fr;
  grid-gap: 10px 10px;
}


.gallery-grid img {
  width: 100%;
  height: auto;
}

.gallery-grid figure {
  margin: 0;
  padding: 0;
}
footer {
  margin-top: 0.4em;
  text-align: center;
  font-size: 0.8em;
}
footer aside {
  background-color: #352f97;
  padding: 0.5em;
  color: #ffffff;
}
footer aside span {
  font-weight: bold;
}
footer>p {
  margin-top: 0;
  padding: 0.5em;
  background-color: #352f97;
  color: #ffffff;
}

