@media only screen and (min-width: 600px) {
  .display-small {
    display: none;
  }
  .display-medium {
    display: block;
  }
  .display-large {
    display: none;
  }   
  .title {
    font-size: 2.4em;
  }
  .subtitle {
    font-size: 1.8em;
  }  
    nav div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        }
  nav button {
    display: none;
  }
    Nav ul {
        flex-direction: row;
    }

  nav ul li {
      line-height: 1em;
  }

  nav ul li a {
    color: #ffffff;
    border: none;
    border-right: 1px;
    padding: 14px 14px;
      text-align: center;
  }

  nav ul.hide {
    display: flex;
  }

    .main-image {
        width: 50%;
    }
  .weather-group {
    width: 100%;
     }

  .forecast { 
    display: block; 
  }

    .article {
        flex-direction: row-reverse;
        
    }
  .article-image {
    width: 50%;
     }
    .article p {
    width: 50%;
    margin-bottom: 0;
    }
    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }
  }   