@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  nav ul {
    text-align: left;
  }
  main figure {
    margin: 0 ;
    width:100%;
    align-content: center;
  }
  main img {
    Margin-top: 5rem;
    Margin-left: 5rem;
    Padding: 0;
    width: 50%;
  }
  article {
    width: 50%;
    text-align: left;
  }
    article h3 {
        font-family: 'tangerine', serif;
    }
  article p.town-article img {
  width: 100%;
  }
}