@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */


  nav ul {
    text-align: left;
  }


  main figure {
      }

  main img {
      position: relative;
          right: 43%;
  }

  article {
    width: 50%;
    padding: 0;
  }
   
  article p.town-article img {
  width: 29.333%;
    
      
  }


}