@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=lobster);
@import url(https://fonts.googleapis.com/css?family=cabin);


* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header{
    background-color: #487740;
    color: #F0f7D4;
}
Nav {
    background-color: #Fc600A;
  color: #119834;
}
footer, input.submitBtn {
  background-color: #FC600A;
  color: #F0F7D4;
}

.call-to-action div button, input.submitBtn {
  background-color: #4424D6;
  color: #F0F7D4;
}
.call-to-action div button:hover, input.submitBtn:hover {
   background-color: #F0F7D4;
    color: #FC600A;
 
}

h1, h2, h3 {
  color: #4424D6;
}

body {
  background-color: #F0fFD4;
  font-family: 'cabin';
}


p {
  color: #000000;
}

footer p {
    background-color: #4424D6;
  color: #F0F74D;
}

nav ul li a {
  color: #7d4427;
}

nav ul li a:hover {
  background-color: #F0F749;
}

nav ul li.active a {
  background-color: #4424D6;
  color: #F0F749;
}

/*FONTS*/

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 1.7em;
  font-family: 'lobster', cursive;
}

.subtitle {
  font-size: 0.9em;
  font-family: 'Bitter', cursive;
}

h1, h2, h3 {
  font-family: 'cabin', sans-serif;
}

header, nav, main, footer { 
  margin: auto;
  max-width: 1200px;
}

footer p {
  font-size: 0.8em;
}



header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
header img {
    padding-right: 20px;
}

.hidden {
  display: none !important;
}

article {
  background-color: #eee;
  box-shadow: 5px 5px 10px gray;
  padding: 5px;
}

/*NAVIGATION*/

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav button {
  margin-left: 0.2em;
  color: white;
  font-size: 2.5em;
  background-color: transparent;
  text-align: left;
  border: none;
}

nav ul li {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

nav ul.hide {
  display: none;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}

.call-to-action div button {
  width: 6em;
  padding: 5px;
  border-radius: 1em;
  box-shadow: 5px 5px 10px gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/*HOME PAGE STORIES*/
.home-stories {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px 10px;
}

.home-stories article {
  width: 95%;
  margin-bottom: 10px;
}

.home-stories article img {
  float: left;
  padding-right: 35px;
  width: 100%;
}

.home-stories article p {
  margin: 0px;
}


/*FOOTER*/

footer {
  margin-top: 10px;
  text-align: center;
  font-size: 0.8em;
}
footer aside {
  padding: 5px;
}
footer aside span {
  font-weight: bold;
}
footer>p {
  margin-top: 0;
  padding: 5px;
}

article {
  margin-top: 5px;
  margin-bottom: 10px;
}

.tour-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.tour-article img {
  width: 100%;
}

.tour-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  align-content:flex-start
}

.tour-details > h3 {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color: black;
}

.tour-details > p {
  padding: 0;
  margin: 0;
}

.tour-details > table {
  width: 100%;
  border-collapse: collapse;
}

.tour-details > table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.tour-details > table tr:nth-child(even) {
  background-color: #dddddd;
}


.event-intro {
  display: grid;
  grid-template-columns: 1fr; 
}

article {
  margin-bottom: 15px;
}

#gdmbr-map {
  width: 100%;
}

#eventRegistration {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eee;
  border: #3d372d solid 1px;
  box-shadow: 5px 5px 20px #cccccc;
}

label {
  display: block;
  width: 100%;
}

label span {
  display: block;
  font-size: 0.9em;
  color: #450015;
  padding-top: 0.9em;
  padding-bottom: 0.2em;
}

label input, label select,
label textarea {
  background-color: #f4f2ef;
  color: #917a56;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  margin-right: -2em;
  border: solid 1px #b0aaa0;
  border-radius: 5px;
  font-size: .9em;
  width: 100%;
  background-image: url(../images/ico_validation.png);
  background-repeat: no-repeat;
  background-position: 4px -11px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

label textarea {
  background-image: none;
  height: auto;
}

#eventRegistrationSubmit {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.submitBtn {
  -webkit-appearance: none; /*remove the apple mobile default styling*/
  color: #fff;
  border-radius: 1em;
  width: 90%;
  max-width: 500px;
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 1.1em;
  padding: .6em;
  box-shadow: 5px 5px 10px gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px #000000 inset;
}

input:required, select:required {
  background-position: 4px -61px;
}

input:focus:invalid, select:focus:invalid {
  background-position: 4px -111px;
}

input:required:valid, select:required:valid {
  background-color: #fff;
  background-position: 4px -161px;
}

.eventssection {
        display: grid;
        align-content: center; 
       justify-content: center;
    
}

#continental{ 
    border: solid 2px #fc67D4;
    padding: 2px;
    margin: 10px;
    max-width: 100%;
        
}

#continental p { 
    padding: 10px;
                
}

#continental h3 {text-align: center;
                  color: #0193B2 ;

}

table tr:nth-child(1) {background-color:#0193B2 ; }


#escape {border: solid 2px #FF7700;
               padding: 2px;
                margin: 10px;
                max-width:100%;

}

#escape h3 {text-align: center;
            color: #0193B2 ;

}


#escape p { padding: 10px;
    


}


.event-details > table {
  width: 100%;
  border-collapse: collapse;
}

.event-details > table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.event-details > table tr:nth-child(even) {
  background-color: #dddddd;
}

.route-details {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
  #eventRegistration {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .event-intro {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .route-details {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .route-details > p {
    margin: 0;
    padding: 0;
  }
}



.accordion {
  background-color: #788740;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.activePanel, .accordion:hover {
  background-color: #4424D6;
      color: #f0f74d;
}

.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activePanel:after {
  content: "\2212";
}

.accordionPanel {
  display: none;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panelContent {
  display: grid;
  grid-template-columns: 1fr;
}

.accordionPanel img {
  max-width: 75%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  .panelContent {
    grid-template-columns: 1fr 1fr;
  }
}



table {
  width: 50%;
  border-collapse: collapse;
    margin-left: 20em;
    
}

table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

table th:nth-child(2) {
  text-align: center;
}

table td:nth-child(2) {
  text-align: right;
  width: 30%;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

.services.p{
    Margin-left: 20px;
    
}

.event-intro {
  display: grid;
  grid-template-columns: 1fr;
   
}


article {
  margin-bottom: 15px;
    margin-left: 12px;
    align-content: center;
   
}

#gdmbr-map {
  width: 100%;
}



#eventRegistration {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eee;
  border: #3d372d solid 1px;
  box-shadow: 5px 5px 20px #cccccc;
}

label {
  display: block;
  width: 100%;
}

label span {
  display: block;
  font-size: 0.9em;
  color: #450015;
  padding-top: 0.9em;
  padding-bottom: 0.2em;
}

label input, label select,
label textarea {
  background-color: #f4f2ef;
  color: #917a56;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  margin-right: -2em;
  border: solid 1px #b0aaa0;
  border-radius: 5px;
  font-size: .9em;
  width: 100%;
  background-image: url(../images/ico_validation.png);
  background-repeat: no-repeat;
  background-position: 4px -11px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

label textarea {
  background-image: none;
  height: auto;
}

#eventRegistrationSubmit {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.submitBtn {
  -webkit-appearance: none; /*remove the apple mobile default styling*/
  color: #fff;
  border-radius: 1em;
  width: 90%;
  max-width: 500px;
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 1.1em;
  padding: .6em;
  box-shadow: 5px 5px 10px gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px #000000 inset;
}

input:required, select:required {
  background-position: 4px -61px;
}

input:focus:invalid, select:focus:invalid {
  background-position: 4px -111px;
}

input:required:valid, select:required:valid {
  background-color: #fff;
  background-position: 4px -161px;
}

.event-details > table {
  width: 100%;
  border-collapse: collapse;
}

.event-details > table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.event-details > table tr:nth-child(even) {
  background-color: #dddddd;
}

.route-details {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
  #eventRegistration {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .event-intro {
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
     
      color: #fc600A;
    }

  .route-details {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .route-details > p {
    margin: 0;
    padding: 0;
  }
}


video {
  width: 100%;
}

#presentationVideo:link, #presentationVideo:visited {
    background-color: #4424D6;
    color: white;
    padding: 10px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#presentationVideo:hover, #presentationVideo:active {
    background-color: #788740;
}